<body>
  <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>OFFRE</th>
            <th>Type d'offre</th>
            <th>PRIX</th>
            <th>Durée de validité (h)</th>
            <th>Valeur</th>
            <th>Ar-Mo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let joueur of detailOffre">
            <td><a [routerLink] = "['modifierOffre']" [queryParams] ='{nom_offre: joueur.nom_offre ,cout:joueur.value,priorite : joueur.priorite, validite: joueur.duree_valide }'> {{ joueur.nom_offre }} </a></td>
            <td><a [routerLink] = "['modifierTypeOffre']" [queryParams] ='{nom_offres: joueur.nom_offre ,nom_type_offre: joueur.nom_type_offre ,valeur: joueur.valeur_ot,initial:joueur.appel, id_offre_and_type: joueur.id_offre_and_type }'>{{ joueur.nom_type_offre }}</a></td>
            <td>{{ joueur.value }}</td>
            <td>{{ joueur.duree_valide }}</td>
            <td>{{ joueur.valeur_ot }}</td>
            <td>{{ joueur.appel }}</td>
            <td><a [routerLink] = "['deleteTypeOffre']" [queryParams] ='{nom_offre_type: joueur.nom_type_offre ,nom_offres: joueur.nom_offre , id_offre_and_type: joueur.id_offre_and_type }'>delete</a></td>
        </tr>
        <tbody>
    </table>
</div>
    <div class="testbox">
      <fieldset>
        <h1>Insertion d'offre</h1>
        <div class="item">
          <p>Nom d'offre</p>
          <input type="text" [(ngModel)]="nom_offre" />
          
        </div>
        <div class="item">
          <p>Cout</p>
          <div class="name-item">
            <input type="number" min="0" [(ngModel)]="value"  placeholder="Ar" />
            <input type="number" min="1" [(ngModel)]="duree_valide"  placeholder="Duree de validite (h)" />
            <input type="number" placeholder="Priorite" [(ngModel)]="prio" />
          </div>
        </div>
        <span class="error">{{ error_message }}</span> <br/>
        <span class="success">{{ message }}</span> <br/>
        <div class="btn-block">
          <button (click) = "generalInsert()">INSERER</button>
        </div>
      </fieldset>
    </div>
    
</body>