<body>
    <div class="testbox">
      <fieldset>
        <h1>Detail offre</h1>
        <div class="item">
          <p>Nom d'offre</p>
          <select [(ngModel)]="offre" required>
           <option *ngFor="let title of liste_offre" [value]="title.id_offre">
           {{title.nom_offre}} 
           </option> 
          </select>
        </div>
        <div class="item">
          <div class="city-item">
            <input type="number" [(ngModel)]="MoAr" min="0" placeholder="Mo ou Ar" />
            <select [(ngModel)]="type" required>
              <option *ngFor="let titre of type_offre" [value]="titre.id_type_offre">{{titre.nom_type_offre}}</option> 
            </select>
          </div>
        </div>
        <span class="error">{{ error_message }}</span> <br/>
        <span class="success">{{ message }}</span> <br/>
        <div class="btn-block">
          <button (click) = "generalInsert()">INSERER</button>
        </div>
      </fieldset>
    </div>
    
  </body>