<!-- <html>
    <body>
        <div class="testbox">
            <fieldset>
                <h1>Connexion Admin</h1>
                <div class="item">
                    <p>Admin</p>
                    <input type="text" [(ngModel)]="pseudo" />
                    
                </div>
                <div class="item">
                    <p>MDP</p>
                    <div class="name-item">
                        <input type="password" min="0" [(ngModel)]="mdp" />
                    </div>
                </div>
                <span class="error">{{ error_message }}</span> <br/>
                <span class="success">{{ message }}</span> <br/>
                <div class="btn-block">
                    <button (click) = "Connect()">Se connecter</button>
                </div>
            </fieldset>
        </div>
    </body>
</html> -->